{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Share</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="px-lg-5">
        <div class="row py-5">
          <div class="col-lg-12 mx-auto">
            <div class="text-white p-5 shadow-sm rounded banner">
              <div style="font-size: 2em">
                {% if user.is_authenticated %}
                <a href="{% url 'account_logout'%}">Logout</a>

                {% else %}
                <a href="{% url 'account_login'%}">Login</a> |
                <a href="{% url 'account_signup'%}">Register</a>
                {% endif %}
              </div>
              <h1 class="display-4">Quick Photo sharing webapp</h1>
              <p class="lead">photogallery snippet.</p>
              <p class="lead">
                <a href="https://bootstrapious.com/snippets" class="text-reset">
                  PhotoMarket </a
                >, Images by
                <a href="https://unsplash.com" class="text-reset"
                  >Asyncdeveloper</a
                >.
              </p>
            </div>
          </div>
        </div>
        {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Upload</button>
        </form>
        {% endif %}
        <div class="row">
          <!-- Gallery item -->
          {% for image in images %}
          <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <div class="bg-white rounded shadow-sm">
              <img
                src="https://res.cloudinary.com/mhmd/image/upload/v1556294927/cody-davis-253928-unsplash_vfcdcl.jpg"
                alt=""
                class="img-fluid card-img-top"
              />
              <div class="p-4">
                <h5><a href="#" class="text-dark">{{image.name}}</a></h5>
                <p class="small text-muted mb-0">{{image.description}}</p>

                <img
                  src="{{image.image.url}}"
                  style="width: 200px; height: 200px"
                  alt="{{image.name}}"
                />
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-between
                    rounded-pill
                    bg-light
                    px-3
                    py-2
                    mt-4
                  "
                >
                  <p class="small mb-0">
                    <i class="fa fa-picture-o mr-2"></i
                    ><span class="font-weight-bold">PNG</span>
                  </p>
                  <div
                    class="
                      badge badge-primary
                      px-3
                      rounded-pill
                      font-weight-normal
                    "
                  >
                    Delete
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- End -->
        </div>
        <div class="py-5 text-right">
          <a href="#" class="btn btn-dark px-5 py-3 text-uppercase"
            >Show me more</a
          >
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
